@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");
* {
  padding: 0;
  margin: 0; }

nav {
  background-color: #293241;
  font-family: "Grape Nuts", cursive;
  font-size: 1.8rem; }

body {
  background-color: #98C1D9;
  font-family: "Grape Nuts", cursive;
  font-size: 1.3rem; }
  body header {
    background-color: #3D5A80;
    font-family: "Roboto", sans-serif;
    font-size: 2rem; }

footer {
  background-color: #293241; }
