$paleta: (
    'uno': #F5E8E6,
    'dos': #DECFB8,
    'tres':#E1CBA6,
    'cuatro':#E7E4D3,
    'cinco':#F6BEC4,);


$w-100: width 100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;
$w-15: 15%;

$h-100: height 100%;
$h-75:75%;
$h-50:50%;
$h-25:25%;
$h-15:15%;


