$paleta: (
    'uno': #3D5A80,
    'dos': #98C1D9,
    'tres':#E0FBFC,
    'cuatro':#EE6C4D,
    'cinco':#293241,);


$w-100: width 100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;
$w-15: 15%;

$h-100: height 100%;
$h-75:75%;
$h-50:50%;
$h-25:25%;
$h-15:15%;


