body {
	background-color: map-get($map:$paleta,$key:'dos');
	font-family: $fontMain;
	font-size: $textSm;
	header{
		background-color: map-get($map:$paleta,$key:'uno');
		font-family: $fontSecondary;
		font-size: $textLg;

	}
}