@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&family=Indie+Flower&family=Roboto:wght@300&display=swap');
$fontMain: 'Grape Nuts', cursive;
$fontSecondary: 'Roboto', sans-serif;
$textColor: #F28E98;

$textXl: 3rem;
$textLg: 2rem;
$textMd: 1.8rem;
$textSm: 1.3rem;
