@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');
$fontMain: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto', serif;
$textColor: #F28E98;

$textXl: 3rem;
$textLg: 2rem;
$textMd: 1.8rem;
$textSm: 1.3rem;
